.shimmer {
    background: linear-gradient(
    to right,
    rgba(241, 240, 240, 0.6) 0%,
    rgba(245, 245, 245, 0.8) 50%,
    rgba(238, 236, 234, 0.6) 100%
  );
  background-size: 1000px 100%;
  animation: effect 2s ease-in-out infinite alternate;
}

@keyframes effect {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
